<body>
<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            Sylab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'admin_menu' %}active{% endif %}" href="{{ path('admin') }}">Admin panel</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-right">
                    <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>
                </li>
            </ul>
            {% else %}
                <li class="nav-item">
                    {# Si on est sur la page lien actif #}
                    <a class="nav-link {% if current_menu is defined and current_menu == 'buy_properties' %}active{% endif %}" href="{{ path('buy') }}">Acheter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'sell_properties' %}active{% endif %}" href="{{ path('sell') }}">Vendre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'connexion_menu' %}active{% endif %}" href="{{ path('login') }}">Connexion</a>
                </li>
            {% endif %}
        </div>
    </div>
</nav>