{% extends 'base.html.twig' %}

{% block title %} Sylab ! {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('static/css/styles.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
        <div class="jumbotron text-center">
            <h1>Les biens</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque in mollitia pariatur praesentium quae quasi suscipit ullam voluptatum! Consectetur dignissimos esse exercitationem magni minima molestiae nesciunt obcaecati provident sunt tenetur.</p>
        </div>

        <div class="container">
            <div class="row flex">
                <!-- Condition for -->
                {% for propriety in proprieties %}
                <div class="col-4">
                <a href="/show/{{ propriety.id }}" class="text-dark  card-hover">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="https://picsum.photos/300/200?image=0" alt="Card image cap">
                                <h5 class="card-title">
                                    <p class="text-center">{{ propriety.name }}</p>
                                </h5>
                                <p class="card-text text-center">{{ propriety.description[:200] ~ '...' }}</p>
                            <div class="text-primary text-center">{{ propriety.price|number_format(0, ",", " ") }}€</div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>

{% endblock %}