{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('static/css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="search-home" class="jumbotron">
        <div class="row">
            <div class="col-md-10 offset-1 text-center">
                <h2 class="text-light">Projet Immobilier, Projet de vie<br />Et si on parlait de vous ?</h2>
                <div class="mt-3">
                    <a href="{{ path('buy') }}" class="btn text-light mr-2">Acheter</a>
                    <a href="{{ path('sell') }}" class="btn text-light ml-2">Vendre</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Les derniers biens</h3>
            </div>

            <div class="col-md-12 text-center mt-3">
                <div class="row">
                {% for propriety in proprieties %}
                    <div class="col-md-4">
                        <a href="" class="text-dark  card-hover">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ propriety.name }}</h5>
                                    <p class="card-text">{{ propriety.description }}</p>
                                    <p class="card-text text-primary">{{ propriety.price }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="info-icon" class="jumbotron mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="" src=".../100px180/" alt="Icon">
                <p>Blopblopblop</p>
            </div>

             <div class="col-md-4 text-center">
                <img class="" src=".../100px180/" alt="Icon">
                <p>Blopblopblop</p>
            </div>

             <div class="col-md-4 text-center">
                <img class="" src=".../100px180/" alt="Icon">
                <p>Blopblopblop</p>
            </div>
        </div>
    </div>

{% endblock %}