{% extends 'base.html.twig' %}

{% block title %} Sylab - Tu achètes !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img id="img-size" src="{{ asset('upload/img/image_bien/') }}{{ propriety.image }}" alt="picture proprety">
                </div>
                <div class="col-md-4">
                    <h1>{{ propriety.name }}</h1>
                    <h2>{{ propriety.nbrrooms }} pieces - {{ propriety.surface }} m2</h2>
                    <div class="text" style="font-size: 4rem;font-weight: bold;">{{ propriety.price| number_format(0, ",", " ") }}€</div>
                    <div class="btn btn-primary mt-3"> Contacter l'agence</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>{{ propriety.description | nl2br }}</p>
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3">Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ propriety.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pieces</td>
                        <td>{{ propriety.nbrrooms }} pieces</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ propriety.nbrbedrooms }} chambres</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>{{ propriety.address }}</td>
                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td>{{ propriety.zipcode }} {{ propriety.city }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}